@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

.main {
  min-height: 100vh;
  background-image: url('https://tender-mcnulty-a4a646.netlify.app/static/media/nattu-adnan-unsplash.c11f97a3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

